<!doctype html>

<html lang="en">
    
<head>
  <meta charset="utf-8">
  <title>Simple Web App!</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <div id="top-part">
            <h1>What up!</h1>
            <p>Docker time :)</p>
        </div>
    </header>
    <main>
        <form action="/stuff" method="POST">
            Name:<br>
            <input type="text" name="name" placeholder="cool names only">
            <br>
            Coolio Thingio:<br>
            <input type="text" name="coolio_factio" placeholder="plz don't hack <3">
            <br><br>
            <input type="submit" value="Submit">
            </form>
    </main>
</body>

</html>