h1 {
    font-size: 80px;
}

p {
    font-size: 30px;
}

#top-part, main {
    color: white;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif; 
}

#stuff_table{
    text-align: center;
}

table, th, td {
    border: white 2px solid;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

th {
    font-size: 18px;
}

body {
    background-color: black;
}